{% extends "base.html" %}

{% block title %}About me - Junyi Chai{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>About me <small>Junyi Chai</small></h1>
</div>
<div class="container">
<p>I am a PhD candidate working with Professor Isaac Held at the <a href="http://www.princeton.edu/aos/">Atmospheric and Oceanic Sciences Program</a> at Princeton University, where I <a href="{{ url_for('.research') }}">researched</a> on atmospheric dynamics, geostrophic turbulence and planetary atmosphere using a variety of numerical models and theories.</p>
<p>In my spare time, I enjoy <a href="{{ url_for('.doc_fin')  }}">programming</a> and <a href="{{ url_for('.index') }}">travelling</a>.
<p><a href="mailto:junyic@princeton.edu" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-envelope"></span>
    junyic@princeton.edu
   </a>
</p>
</div><!-- container -->
{% endblock %}
