{% extends "financial_analysis_base.html" %}

{% block web_app %}
  <script type="text/javascript">
      document.getElementById("pricer").setAttribute("class","active")
  </script>

  {{ wtf.quick_form(form) }}

  <div class="body">
    <h2> {% if ticket %}
           {{ ticket }} price is <span class="label label-success"> {{ price }} </span>

         {% else %}
            Waiting for inputs 
         {% endif %}
    </h2>
    
    {% if ticket %}
      {{ spot_vs_price_plot | safe }}
    {% endif %}
  </div>
{% endblock %}
