{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Option pricer{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Monte Carlo option pricer</h2>
</div>

  {{ wtf.quick_form(form) }}

  <div class="body">
    <h2> {% if ticket %}
           {{ ticket }} price is <span class="label label-success"> {{ price }} </span>

         {% else %}
            Waiting for inputs 
         {% endif %}
    </h2>
    
    {% if ticket %}
      {{ spot_vs_price_plot | safe }}
    {% endif %}

    <h2>Historical volatility calculator</h2>

{% endblock %}
