{% extends "financial_analysis_base.html" %}

{% block web_app %}

  <script type="text/javascript">
      document.getElementById("volatility").setAttribute("class","active")
  </script>

  {{ wtf.quick_form(form) }}

  <div class="body">
    <h2> {% if ticket %}
         <p><span class="label label-success"> {{ ticket }}</span></p>
         <p>Historical Volatility <small>(annualized, in percentage)</small></p>

         {% else %}
            <p>Waiting for inputs</p>
         {% endif %}
    </h2>
    
    {% if ticket %}
      {{ vol_chart | safe }}
      <h2>Adjusted close price</h2>
      {{ adj_chart | safe }}
    <h2>    </h2>
   
    <form method="post" class="form" role="form"> 
        <input class="btn btn-default" id="clear_chart" name="clear_chart" type="submit" value="Clear chart">
    </form>
    {% endif %}
    
{% endblock %}
