{% extends "financial_analysis_base.html" %}

{% block web_app %}

  <script type="text/javascript">
      document.getElementById("volatility").setAttribute("class","active")
  </script>

  {{ wtf.quick_form(form) }}

  <div class="body">
    <h2> {% if ticket %}
         <span class="label label-success"> {{ ticket }}</span> Historical Volatility <small>(annualized, in percentage)</small>

         {% else %}
            Waiting for inputs 
         {% endif %}
    </h2>
    
    {% if ticket %}
      {{ vol_chart | safe }}
    {% endif %}
{% endblock %}
